$bg: #E1E0DC;
$bg-light: #F1F1F1;
$bg-extralight: #F6F6F6;
$bg-white: #FFFFFF;
$bg-dark: #0A0A0A;
$bg-lightdark: #151515;

$text-light-primary: #FFFFFF;
$text-light-secondary: #FFFFFF99;
$text-light-tertiary: #FFFFFF4D;

$text-dark-primary: #0A0A0A;
$text-dark-secondary: #0A0A0A99;
$text-dark-tertiary: #0A0A0A4D;

$phone-button: #CCB076;

$stroke-light-100: #FFFFFF;
$stroke-light-50: #FFFFFF80;
$stroke-light-25: #FFFFFF40;
$stroke-light-15: #FFFFFF26;
$stroke-light-10: #FFFFFF1A;

$stroke-dark-100: #0A0A0A;
$stroke-dark-50: #0A0A0A80;
$stroke-dark-25: #0A0A0A40; 
$stroke-dark-15: #0A0A0A26;
$stroke-dark-10: #0A0A0A1A;

$accent-primary: #0A0A0A;
$accent-primary-hover: #CCB076;

$accent-secondary: #FFFFFF;
$accent-secondary-hover: #CCB076;

$bg-cta: #E1E0DC;

$error: #FE3838;