@use "_colors.scss";

.primary-black,.primary-light,.secondary-light {
    transition: 0.3s;
    cursor: pointer;
    span svg {
        transition: 0.3s;
    }
    &:hover span svg {
        transform: rotateZ(45deg);
    }
}

.primary-black {
    background-color: colors.$accent-primary;
    color: colors.$text-light-primary;
    border-width: 0;
    &:hover {
        background-color: colors.$accent-primary-hover;
    }
}

.primary-light {
    background-color: colors.$accent-secondary;
    color: colors.$text-dark-primary;
    border-width: 0;
    &:hover {
        background-color: colors.$accent-primary-hover;
    }
}

.secondary-light {
    background-color: transparent;
    color: colors.$text-light-primary;
    border-color: colors.$stroke-light-25;
    border-width: 1px;
    &:hover {
        background-color: colors.$accent-secondary;
        color: colors.$text-dark-primary;
    }
}